<!DOCTYPE html>
    <html>
        <head>
        <meta charset="'UTF-8'">
            <title></title>
        </head>
 
    <body>
        <div class ='container'>
            <div class="header>"></div>
                <h1> Flask Weather App</h1>
            <div class="content">
                <h2>
                    {{ weather.city }}
                </h2> 
                <h3>
                  {{ weather.description }} | {{ temperature_celcius }}° c
                </h3>
                <h4>Feels like | {{ feels_like_cel }}</h4>
        </div>
        <section>
            <form>
                
            
            </form>
        </section>
    </body>
</html>